{% extends 'skeleton.html.twig' %}

{% block title %}Edit Category{% endblock %}
{% block heading %}<h1>Edit Category</h1>{% endblock %}

{% block main %}
    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category_index') }}">back to list</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}