{% extends 'skeleton.html.twig' %}

{% block title %}New Category{% endblock %}
{% block heading %}<h1>Create new Category</h1>{% endblock %}

{% block main %}
    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">back to list</a>
{% endblock %}