{% extends 'skeleton.html.twig' %}

{% block title %}Edit News{% endblock %}
{% block heading %}<h1>Edit News</h1>{% endblock %}

{% block main %}
    {{ include('news/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('news_index') }}">back to list</a>

    {{ include('news/_delete_form.html.twig') }}
{% endblock %}